@import "./src/assests/css/reset.css";
@import "./src/assests/css/variables.css";

body {
  background-color: var(--backgroundPrimaryColor);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

.root {
  width: 90%;
  padding: var(--space-xxl) 0;
}

h1,
a,
p,
li,
input {
  font-family: var(--primaryFont);
  color: var(--primaryFontColor);
}

a {
  cursor: pointer;
  text-decoration: none;
}
