@import "../../../assests/css/variables.css";

.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "sidebar header header header header header header header header header"
    "sidebar list list list list list list list list list"
    "sidebar list list list list list list list list list"
    "sidebar list list list list list list list list list";
  column-gap: var(--space-md);
  row-gap: var(--space-sm);
}
