@import "../../../assests/css/variables.css";

.main-container {
  display: grid;
  grid-template-columns: 25% 70%;
  gap: var(--space-md);
  place-content: center;
  padding: var(--space-sm);
}

@media only screen and (min-device-width: 600px) {
  .main-container {
    grid-template-columns: 10% 80%;
  }
}
