@import "../../../assests/css/variables.css";

.title {
  font-size: var(--size-xl);
  margin-bottom: var(--space-md);
}

.header {
  grid-area: header;
  border-bottom: var(--space-xxs) solid var(--primaryFontColor);
}
